@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #020617;
    color: #ffffff;
  }

  #root {
    min-height: 100vh;
    font-family: "Mona Sans", sans-serif;

  }
}

@keyframes rotateSlow {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}